<h1> P치gina secreta</h1>

<title>Sesi칩n iniciada</title>
<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body> 
  <h4>Has entrado a tu inicio de sesi칩n</h4>
  <div class = "box">
    <a href="/logout"><button id="logout" type="button">Cerrar sesi칩n</button></a><br><br>
  </div>
  <form action="/urls" method="post">
    <input type="text" name="word_url" placeholder= "url"><br><br>
    <input type="submit">
  </form>
 
  <br><br>
  
    
  <table>
  <tr>
    <th width="25">ID</th>
    <th width="200">Long url</th>
    <th>Short ulr</th>
    <th>Click counter</th>
  </tr>
<% @urls.each_with_index do |url, index| %>
  <tr>
    <td><%= index + 1 %>.</td>
    <td><%= url.long_url %> </td>
    <td><a href="/short_url/<%= url.id %>" target="_blank"><%= url.short_url %></a></td>
    <td><%= url.click_count %></td>
  </tr>
<% end %>
</table>
